.sort {
    display: flex;
    gap: 28px;


    &__Filter {
        font-weight: 600;
        font-size: 14px;
        color: #ef5b70;
    }

    &__box {
        @include flex-column;
        box-sizing: border-box;
        width: 350px;
        box-shadow: 6px 4px 35px 0 rgba(0, 0, 0, 0.21);
        gap: 11px;
        background: #fff;
        padding: 24px 170px 24px 33px;

        &_Heading {
            border-left: 5px solid #ef5b70;
            font-weight: 400;
            font-size: 14px;
            color: #ef5b70
        }
    }

}

.sort__right-side {
    @include flex-center;
    background: #000;

    &__details {
        &__box {
            background: #FFFFFF;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            padding: 7px 9px 21px;
            box-sizing: border-box;
            width: 79px;
            @include flex-column;
            gap: 6px;
        }
    }
}